@import "bootstrap-reboot.min"
@import "bootstrap.min"
@import "bootstrap-grid.min"

$font_f: -apple-system, system-ui, BlinkMacSystemFont, pingfang-tc, aktiv-grotesk, source-han-sans-traditional, Segoe UI, Roboto, Helvetica Neue, Microsoft JhengHei, Microsoft YaHei, Helvetica, Arial, sans-serif

$color_01: #3F4652
$color_02: #272C33
$color_03: #00C6C5
$color_04: #E4E4E4

$font_color_01: #DDDFE1
$font_color_02: #939699
$font_color_03: #272C33

$line_color_01: rgba(255, 255, 255, .2)

$shadow_01: 5px 5px 25px 0px rgba(46, 61, 73, 0.3)

@mixin size($w:100%, $h:$w)
    width: $w
    height: $h
@mixin flex_center
    display: flex
    justify-content: center
    align-items: center
@mixin flex_stretch
    display: flex
    align-items: stretch
@mixin flex_between
    display: flex
    justify-content: space-between

html, body, .wrap
    +size(100%)
    font-size: 16px
    font-family: $font_f
.wrap
    +flex_stretch


//拉軸樣式
input[type="range"]
    // -webkit-appearance: none
    overflow: hidden     // 限定範圍 */
    // width: 200px
    // height: 20px
    outline : none      // 避免點選會有藍線或虛線 */
    background: none
input[type="range"]::-webkit-slider-thumb
    -webkit-appearance: none
    position: relative    // 設為相對位置，為了前後區塊的絕對位置而設定 */
    width: 10px
    height: 10px
    background: #f22edc
    border-radius: 50%
    transition: .2s
input[type="range"]::-webkit-slider-thumb:before,
input[type="range"]::-webkit-slider-thumb:after
    position: absolute
    top: 3px
    // width: 1000px         
    height: 4px
    content: ""
    pointer-events: none //讓滑鼠可以點擊穿透偽元素，不然會點不到下面
    transition: .2s
input[type="range"]::-webkit-slider-thumb:before
    left: -1997px
    background: #FFF
input[type="range"]::-webkit-slider-thumb:after
    left: 10px
    background: #CCC


//Menu
.sidebar
    +flex_stretch
    flex: 0 0 376px
    background: $color_01
    padding-right: 4px
    .menu
        width: 80px
        background: $color_02
        padding: 0
        margin: 0
        a
            +flex_center
            +size(80px)
            flex-direction: column
            font-size: .875rem
            text-align: center
            color: $font_color_01
            text-decoration: none
            &.active
                background: $color_01
                color: $color_03
                .layout, .img, .bg, .txt, .compo, .up
                    fill: $color_03
            img, svg
                +size(24px)
            p
                padding: 0
                margin: 0
                margin-top: 2px
        .layout, .img, .bg, .txt, .compo, .up
            fill: $font_color_01
    .content
        +size(300px, 100%)
        color: $font_color_01
        background: $color_01
        padding: 20px
        padding-bottom: 0
        overflow: auto
        .row
            display: none
            &.active
                display: flex
            &.txt
                .cards
                    height: 54px
                    border-bottom: 1px solid $font_color_01
            &.compo
                img
                    height: 80px

        .cards
            +flex_center
            width: 100%
            padding: 5px
            img
                max-width: 100%
        &::-webkit-scrollbar
            width: 5px
            background-color: $color_01 //bar底色
        &::-webkit-scrollbar-thumb
            background: rgba(221, 223, 225, .6) //拉軸顏色
            border-radius: 10px

// 主要視覺區域
.main_zone
    position: relative
    flex: 0 1 100%
    background: $color_04
    // 上方系統功能
    .state
        +size(100%, 45px)
        background: $color_03
        padding-left: 20px
        padding-right: 20px
        line-height: 45px
        overflow: hidden
        .infor
            +flex_stretch
            height: 45px
            font-size: .875rem
            color: #FFF
            background: url('../images/infor_icon.svg') no-repeat left center
            background-size: 20px 20px
            padding-left: 20px
            span
                position: relative
                padding: 0 10px
                &::after
                    content: ''
                    display: block
                    position: absolute
                    top: 19px
                    right: 0
                    width: 1px
                    height: 1rem
                    background: #FFF
                &:last-child
                    &::after
                        display: none
        
    // 功能列
    .panel
        +flex-center
        +size(100%, 45px)
        justify-content: flex-end
        background: #FFF
        line-height: 45px
        padding-left: 20px
        padding-right: 20px
        .control
            display: flex
            flex-direction: row-reverse
            a
                display: inline-block
                height: 45px
                color: $font_color_03
                font-size: .875rem
                text-decoration: none
                line-height: 45px
                white-space: nowrap
                margin: 0 2px
                padding: 0 10px
                &:hover
                    background: darken(#FFF, 5%)
                &.btn_type
                    +flex_center
                    width: 45px
                    padding: 0
                    svg
                        fill: $color_03
                &.pdf
                    svg
                        height: 17px
                &.save
                    svg
                        height: 19px
                &.redo
                    svg
                        height: 14px
                &.back
                    svg
                        height: 14px
// 元件細部功能調整
.panel_compo
    position: absolute
    z-index: 999
    top: 140px
    left: 80px
    background: $color_02
    svg
        fill: $font_color_01
        width: 20px
    ul
        display: flex
        flex-direction: column
        padding: 0
        margin: 0
        width: 38px
        list-style: none
    li
        position: relative
        height: 38px
        &.active
            .panel_content
                display: block
        a
            +size(38px)
            +flex_center
            &.active
                background: lighten($color_02, 5%)
                .panel_content
                    display: block
        .panel_content
            display: none
            position: absolute
            left: -300px
            top: 0
            background: rgba(39, 44, 51, .9)
            color: #FFF
            font-size: .875rem
            border-top: 4px solid $color_03

            //拉軸元件
            .filter_group
                display: flex
                justify-content: flex-end
                width: 100%
                height: 40px
                .name, .range_zone
                    display: flex
                    font-size: .75px
                    text-transform: capitalize
                    line-height: 40px
                .name
                    margin-right: 15px
                .range_zone
                    flex: 0 0 160px
                    text-align: right
                    .num
                        width: 30px
                        margin-right: 5px
                    input
                        margin-right: 5px
            // 按鈕元件
            .btn_group
                display: flex
                +size(100%, 40px)
                font-size: .875rem
                .name
                    margin-left: 8px
            .panel_title
                width: 280px
                font-size: 1rem
                text-align: center
                line-height: 2.2rem
                border-bottom: 1px solid $line_color_01
            .panel_main, .panel_filters
                display: flex
                flex-wrap: wrap
                min-height: 60px
                font-size: .875rem
                padding: 10px
            .panel_main
                width: 276px
                font-size: .75px
                max-height: 200px
                padding-right: 6px
                margin-right: 4px
                border-bottom: 1px solid $line_color_01
                overflow: auto
                //拉軸
                &::-webkit-scrollbar
                    width: 5px
                    background-color: $color_01 //bar底色
                &::-webkit-scrollbar-thumb
                    background: rgba(221, 223, 225, .6) //拉軸顏色
                    border-radius: 10px
                .item
                    flex: 0 0 25%
                    padding: 2px
                    .name
                        text-align: center
                        line-height: 1.5rem
                    img
                        max-width: 100%
            .panel_filters
                width: 280px
// 編輯區域
.painter
    +flex_center
    +flex_between
    position: relative
    flex-direction: column
    height: calc(100% - 99px)
    padding: 20px
    padding-bottom: 0
    overflow: hidden
    .pages
        +flex_between
        flex-direction: row
        width: 360px
        height: 40px
        margin-bottom: 20px
        .btn_type
            +flex_center
            +size(40px)
            border-radius: 50%
            &:hover
                background: darken($color_04, 5%)
            &.disable
                opacity: .4
                cursor: default
                &:hover
                    background: none
            img
                max-height: 22px
        .page_infor
            color: $font_color_03
            line-height: 40px
            padding: 0
            margin: 0
    .canvas
        +size(765px, 544px)
        background: #FFF
        border: 1px solid $font_color_02
        box-shadow: $shadow_01
        background-size: cover
        background-position: center center
        
    .add
        .btn_type
            +size(360px, 44px)
            display: block
            color: $color_03
            text-align: center
            text-decoration: none
            line-height: 42px
            background: #FFF
            border: 1px solid $color_03
            &:hover
                background: $color_03
                color: #FFF
    .painter_control
        +flex_between
        +size(100%, 44px)
        .scale
            +size(150px, 44px)
            display: flex
            justify-content: space-around
            align-items: center
            border-radius: 100px
            background: $color_01
            color: #FFF
            .btn_type
                +flex_center
                +size(30px)
                border-radius: 50%
                &:hover
                    background: darken($color_01, 5%)
                img
                    max-height: 12px
        .page_del
            a
                +flex_center
                +size(44px, 44px)
                background: $color_03
                &:hover
                    background: darken($color_03, 5%)
                img
                    max-height: 22px

